[submodule "dxvk"]
	path = dxvk
	url = https://github.com/GaloHoyos/dxvk_portal2vr.git
	branch = portal2-builds-vr
[submodule "thirdparty/minhook"]
	path = thirdparty/minhook
	url = https://github.com/TsudaKageyu/minhook.git
